form{
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.file-container{
    margin-top: 15px;
    margin-bottom: 15px;
}

.file-container label{
    color: black;
    font-weight: bold;
    margin-left: -12px;
}