.search-form{
    display: inline-flex;
    margin-left: 70px;
    margin-top: 20px;
}

button{
    margin-top: 12px;
    margin-left: 5px;
    text-align: justify;
}

.add-charity{
    
    position: absolute;
    right: 0;
}